<head>
<title>Welcome to Word Nerd</title>
<%# <%= image_tag ("/assets/nerd-word.png")%> %>
<!-- uncomment when you figure out image resizing -->
</head>
<body>
<!-- <a href="home.html"> -->
</body>
</html>
<div class="entry">
  <h3 class="h3">Here are the two words generated for you to base your story:</h3>
  <div class="outer">
    <p><span id="word_1"><%= @word_1 %></span></p>
    <p><span id = "word_2"><%= @word_2 %></span></p>
  </div>
</div>

<p class="left"><a href="bdcrate">BDC Rates</a></p>
<p class="source">Scraped from <a target="_blank" href="http://creativitygames.net/random-word-generator/randomwords/2">creativitygames.net</a></p>
